@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    background-image: url(/Imagenes/placa.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(3px);
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 300px;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}



.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
    
}

.list__item{
    list-style-type: none;
    
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.texto{
    padding: 15px;
    background-color:  #fff;
    box-shadow: 0 10px 30px #009ca1;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 20px;
}
.texto1{
    padding: 15px;
    background-color:  #fff;
    box-shadow: 0 10px 30px #009ca1;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 20px;
}
 h1{
    
    top: 10%;
    
    margin-left: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px #009ca1;
 }
.titulo2{
    
    top: 20%;
    margin-top: 0%;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px #009ca1;
 }
.info{
    
    vertical-align: top;
   
}
.foto1{
    border-radius: 6px;
    box-shadow: 0 0 7px #009ca1;
    margin-top: 20px;
    margin-left:300px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
}

.nvidiaa{
    border-radius: 6px;
    box-shadow: 0 0 7px #009ca1;
    
    margin-left:20px ;
    
    width: 380px;
    height: 230px;

}
.Redes_Sociales{
    background-color: #fff;
    text-align: center;
    color: #303440;
    display: block;
    
    
}
.list1{
    width: 100%;
    text-align: center;
    display: flex;
    padding-left: 40%;
    border-radius: 16px 16px  ;
    background: #fff;
}

/* Telefonos pequeños */
@media only screen and (max-width: 600px) {
    .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* telefonos grandes y tablets pequeñas */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* tablets medianas */
@media only screen and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* laptops y pc de escritorio */
@media only screen and (min-width: 992px) {.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}}

/* laptops y pc de escritorio */
@media only screen and (min-width: 1200px) {.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}}
